* {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1 {
  margin-top: 90px;
  text-align: center;
  font-size: 40px;
  /* font-weight: bold; */
}

.up {
  display: flex;
  justify-content: space-between;
}

.evenements {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 30px;
  font-family: "Cutive Mono", monospace;
}
#agenda {
  width: 48px;
  height: 55px;

  background-image: url("agenda.png");
}
#date {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#heure {
  font-size: 65px;
  margin: 0;
  padding: 0;
}

#zone_meteo {
  margin: 0;
  font-size: 55px;
  /* font-weight: bold; */
}

#ville {
  margin: 0;
  font-size: 35px;
  text-align: center;
}

#icone {
  width: 90px;
  height: 70px;
}

.Rain {
  background-image: url("rain.png");
  background-repeat: no-repeat;
  width: 68px;
  height: 61px;
  background-size: 70px 70px;
}

.Clear {
  background-image: url("soleil.png");
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.Clouds {
  background-image: url("nuage.png");
  background-size: 90px 70px;
  background-repeat: no-repeat;
  width: 27px;
  height: 13px;
}

.outside {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.dateEvents {
  font-size: 16px;
  color: #cdcdcd;
}

.summaryEvents {
  font-size: 26px;
}

#homePage {
  display: block;
}

#audioPlayer {
  display: none;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  overflow: scroll;
}

#musicTitle {
  display: none;
  font-size: 25px;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 10px;
}
#list {
  height: 200px;
  overflow: auto;
}
li {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  line-height: 40px;
}

#pause {
  display: none;
  width: 33px;
  height: 37px;
}

#play {
  display: none;
  width: 35px;
  height: 41px;
  margin: 0 auto;
}

#next,
#previous {
  margin: 0 auto;
  display: none;
}
