* {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body,
html {
  background-color: black;
  height: 100%;
}

h1 {
  margin-top: 90px;
  text-align: center;
  font-size: 40px;
  /* font-weight: bold; */
}

.up {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.events {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 30px;
  font-family: "Cutive Mono", monospace;
}
#agenda {
  width: 48px;
  height: 55px;

  background-image: url("agenda.png");
}
#date {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#hour {
  font-size: 65px;
  margin: 0;
  padding: 0;
}

#zone_temperature {
  margin: 0;
  font-size: 55px;
  /* font-weight: bold; */
}

#city {
  margin: 0;
  font-size: 35px;
  text-align: center;
}

#icon {
  width: 90px;
  height: 70px;
}

.Rain {
  background-image: url("rain.png");
  background-repeat: no-repeat;
  width: 68px;
  height: 61px;
  background-size: 70px 70px;
}

.Clear {
  background-image: url("soleil.png");
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.Clouds {
  background-image: url("nuage.png");
  background-size: 90px 46px;
  background-repeat: no-repeat;
  width: 26px;
  height: 13px;
  margin-top: 15px;
}

.outside {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.dateEvents {
  font-size: 16px;
  color: #cdcdcd;
}

.summaryEvents {
  font-size: 26px;
}

#homePage {
  display: block;
  height: calc(100% - 150px);
}

#audioPlayer {
  display: none;
  width: 500px;
  margin: 0 auto;

  text-align: center;
  overflow: scroll;
  height: calc(100% - 150px);
  background-image: url("play.png");
  background-repeat: no-repeat;
  background-position: left center;
}

#audioPlayer.pause {
  background-image: url("pause.png");
}

#musicTitle {
  display: none;
  font-size: 25px;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 10px;
}
#list {
  overflow: auto;
}
li {
  font-family: "Oxygen", sans-serif;
  font-size: 22px;
  line-height: 40px;
}

#next,
#previous,
button {
  margin: 0 auto;
  display: none;
}

input {
  display: none;
}
